@import '../../styles/variables.scss';

.footer {
  padding-top: 52px;
  text-align: center;
  font-size: 12px;

  a {
    text-decoration: none !important;
  }
  img {
    width: 30px;
    margin-bottom: 1px;
    box-shadow: none;
    border: none;
    vertical-align: middle;
  }
}
